<div class="bg-green-800 min-h-screen flex flex-col items-center justify-around w-screen gap-4 p-4">
    <div class="grid grid-cols-2 sm:flex  gap-4 h-fit sticky top-0" id="botones">
        <button class="hover:bg-red-800 p-4 rounded disabled:bg-gray-500 bg-red-900 text-white"
            (click)="comenzarNuevoJuego()">Nueva Partida</button>
        <button class="hover:bg-red-800 p-4 rounded disabled:bg-gray-500 bg-red-900 text-white" [disabled]="yaRepartio"
            (click)="repartir()">Repartir</button>
        <button class="hover:bg-red-800 p-4 rounded disabled:bg-gray-500 bg-red-900 text-white"
            [disabled]="!(yaRepartio && juegoEnCurso)" (click)="pedirCartaJugador()">Pedir
            Carta</button>
        <button class="hover:bg-red-800 p-4 rounded disabled:bg-gray-500 bg-red-900 text-white"
            [disabled]="!(yaRepartio && juegoEnCurso)" (click)="plantarse()">Plantarse</button>
    </div>
    <div class="flex w-full flex-col sm:flex-row sm:justify-evenly gap-4 mt-4" id="croupier">
        <div class="flex justify-center sm:justify-around">
            <img class="object-contain h-32 hidden sm:block" src="../../assets/croupier.png" alt="imagenCroupier">
            <p class="text-white">Puntaje Croupier: {{croupier.puntajeMano}}</p>
        </div>
        <div id="cartasCroupier" class="flex gap-4 flex-wrap justify-around">
            <app-carta [carta]="carta" *ngFor="let carta of croupier.cartas"></app-carta>
        </div>
    </div>
    <div class="flex w-full flex-col sm:flex-row sm:justify-evenly gap-4 mt-4" id="jugador">
        <div class="flex justify-center sm:justify-around">
            <img class="object-contain h-32 hidden sm:block" src="../../assets/player.png" alt="fotoJugador">
            <div>
                <p class="text-white">Jugador: {{jugador.nombre}}</p>
                <p class="text-white">Puntos: {{jugador.puntajeMano}}</p>
            </div>
        </div>
        <div id="cartasJugador" class="flex gap-4 flex-wrap justify-around">
            <app-carta [carta]="carta" *ngFor="let carta of jugador.cartas"></app-carta>
        </div>
    </div>
</div>